.loddlenaut-map {
    width: 100%;
    height: 100%;
    background-image: url('../background.png');
    background-size: 100% 100%;
}

.leaflet-control-layers-expanded {
    width: 15em;
}

/* Make the layer tree children align better */
.leaflet-layerstree-nevershow:not(.leaflet-layerstree-header) {
    display: inline;
    visibility: hidden;
}

.number-marker {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.goop-marker .number-marker {
    color: white;
}

.flatGoop-marker .number-marker {
    color: white;
}

.microplastics-marker .number-marker {
    color: black;
}